<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tournament List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>


<div class="container w-75">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TMS

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tournament">Tournaments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/match">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Teams</a>
                    </li>

                </ul>
            </div>
            <a class="nav-link" href="/logout"> Logout</a>
        </div>
    </nav>

    <div class="container">
        <div class="my-3">
            <a class="btn btn-light btn-sm"
               th:href = "@{/tournament/}">Back tournament list</a>

        </div>
        <h4>Tournament Details</h4>
        <div class="rounded border my-3"></div>

        <div class="card-body">
            <h5 class="card-title" th:text="${tournament.name}"> Name:</h5>
            <div>
                Description: <p class="card-text" th:text="${tournament.description}"></p>
            </div>

            <div class="row">
                <div class="col">
                    Location: <p class="card-text" th:text="${tournament.location}"></p>
                </div>
                <div class="col">
                    From: <p class="card-text" th:text="${tournament.startDate}"> <small class="text-body-secondary"></small> </p>
                </div>
                <div class="col">
                    To: <p class="card-text" th:text="${tournament.endDate}"><small class="text-body-secondary"></small> </p>
                </div>

            </div>
            <div class="d-flex justify-content-center mt-5">

                    <a class="btn btn-secondary btn-sm"
                       th:href = "@{/tournament/edit/{id}(id=${tournament.id})}">Edit</a>

                <a class="btn btn-secondary btn-sm mx-5"
                   th:href = "@{/tournament/delete/{id}(id=${tournament.id})}"
                   onclick="return confirm('Are you sure, you want to delete this tournament?')">Delete</a>
            </div>
        </div>

        <div class="rounded border my-3"></div>
</div>

        <div class="container my-5">
            <h4>Team participating to <span th:text="${tournament.name}"></span></h4>
            <a class="btn btn-light " th:href="@{'/tournament/' + ${tournament.id} + '/teams/add'}">Add Team to Tournament</a>
            <div class="rounded border my-3"></div>


            <div class="card-body  rounded border w-75 my-3" th:each="team : ${tournament.teams}">
                <div class="row ">
                    <div class="ps-2 col-8 justify-content-start mt-2   "><p th:text="${team.name}"></p></div>

                    <div class="col-4 justify-content-end mt-2 ">
                        <a class="btn btn-light btn-sm "
                           th:href = "@{/team/{id}(id=${team.id})}">More Details</a>
                        <a class="btn btn-sm"
                           th:href="@{/tournament/{tournamentId}/teams/remove/{teamId}(tournamentId=${tournament.id}, teamId=${team.id})}"
                           onclick="return confirm('Are you sure you want to remove this team from the tournament?')"> <i class="bi bi-trash"></i></a>

                    </div>
                </div>
            </div>
        </div>
    <h4>Matches</h4>
    <a class="btn btn-light mx-4" th:href="@{'/tournament/' + ${tournament.id} + '/matches/create'}">New Match</a>
    <div class="rounded border"></div>

    <div class="card-body  rounded border w-75 my-3" th:each="match : ${tournament.matches}">
        <div class="row g-0 bg-light  ">
            <div class="ps-2 col-8 justify-content-start  bg-light"><p th:text="${match.description}"></p></div>
            <div class="ps- 2 col-4 justify-content-end bg-light"><p th:text="${match.location}"></p></div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="ps-2 justify-content-center "><p th:text="${match.date}"></p></div>
                <div class="ps-2 justify-content-center"><p th:text="${match.startTime}"></p></div>

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-8 justify-content-start "><p th:text="${match.homeTeamName}"></p></div>
                    <div class="col-4 justify-content-end"><p th:text="${match.homeTeamScore}"></p></div>
                </div>

                <div class="row">
                    <div class="col-8 justify-content-start "><p th:text="${match.awayTeamName}"></p></div>
                    <div class="col-4 justify-content-end"><p th:text="${match.awayTeamScore}"></p></div>
                </div>
            </div>
            <div class="col-3">
                <div class="my-2">
                    <a class="btn btn-light btn-sm"
                       th:href="@{/tournament/{tournamentId}/matches/add-score/{matchId}(tournamentId=${tournament.id}, matchId=${match.id})}">Add score</a>
                </div>
                <div>
                    <a class="btn btn-light btn-sm "
                       th:href="@{/tournament/{tournamentId}/matches/edit/{matchId}(tournamentId=${tournament.id}, matchId=${match.id})}"> <i class="bi bi-pencil-square"></i></a>

                    <a class="btn btn-light btn-sm "
                       th:href="@{/tournament/{tournamentId}/matches/delete/{matchId}(tournamentId=${tournament.id}, matchId=${match.id})}"
                       onclick="return confirm('Are you sure you want to delete this match?')"> <i class="bi bi-trash"></i> </a>
                </div>
            </div>
        </div>

    </div>



</div>
</body>
</html>