<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team List</title>
</head>
<body>
<h1>Team List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Logo URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="team : ${teams}">
        <td th:text="${team.id}"></td>
        <td th:text="${team.name}"></td>
        <td th:text="${team.city}"></td>
        <td th:text="${team.logoUrl}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
