<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>


<div class="container w-75">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TMS

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tournament">Tournaments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/match">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">Teams</a>
                    </li>

                </ul>
            </div>
            <a class="nav-link" href="/logout"> Logout</a>
        </div>
    </nav>


    <h4>Teams</h4>

    <div>
        <a class="btn btn-light btn-sm mb-3"
           th:href = "@{/team/create}">Create Team </a>
    </div>
    <div class="rounded border"></div>

    <div class="card-body  rounded border w-75 my-3" th:each="team : ${teams}">
        <div class="row ">
            <div class="col-4 justify-content-start mt-2   "><p th:text="${team.name}"></p></div>
            <div class="col-4 justify-content-end mt-2"><p th:text="${team.city}"></p></div>
            <div class="col-4 justify-content-end mt-2 ">
                <a class="btn btn-light btn-sm "
                   th:href = "@{/team/{id}(id=${team.id})}">More Details</a>
                <a class="btn  btn-sm "
                   th:href = "@{/team/edit/{id}(id=${team.id})}"><i class="bi bi-pencil-square"></i></a>

                <a class="btn  btn-sm "
                   th:href = "@{/team/delete/{id}(id=${team.id})}"
                   onclick="return confirm('Are you sure, you want to delete this team?')"><i class="bi bi-trash"></i> </a>

            </div>
        </div>

</div>
</div>

</body>
</html>