<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Match list</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>


<div class="container w-75">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TMS

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/tournament">Tournaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/match">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">Teams</a>
          </li>

        </ul>
      </div>
      <a class="nav-link" href="/logout"> Logout</a>
    </div>
  </nav>

  <h4>Matches</h4>
  <div class="rounded border"></div>

  <div class="card-body  rounded border w-75 my-3" th:each="match : ${matches}">
    <div class="row g-0 bg-light ">
      <div class="ps-2 col-8 "><p th:text="${match.description}" >Description</p></div>
      <div class=" ps-2 col-4 "><p th:text="${match.location}" class=" "> Location</p></div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="ps-2 justify-content-center "><p th:text="${match.date}"></p></div>
        <div class="ps-2 justify-content-center"><p th:text="${match.startTime}"></p></div>

      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-8 justify-content-start "><p th:text="${match.homeTeamName}"></p></div>
          <div class="col-4 justify-content-end"><p th:text="${match.homeTeamScore}"></p></div>
        </div>

        <div class="row">
          <div class="col-8 justify-content-start "><p th:text="${match.awayTeamName}"></p></div>
          <div class="col-4 justify-content-end"><p th:text="${match.awayTeamScore}"></p></div>
        </div>
        <div class="row">
        <div class="justify-content-end my-2 ">
          <a class="btn btn-light btn-sm "
             th:href = "@{/match/{id}(id=${match.id})}">More Details</a>
        </div>

        </div>
      </div>
    </div>


  </div>

</div>

</body>
</html>
